.menu{
    background-color: powderblue;
    margin-top :10px;
    border-radius: 5px;
}
/* 
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
    max-width: 100%;
  }
  
  .card-text {
    font-size: 85%;
  } */


  .btnLeft{
      background-color: white !important;
      font-size:60px !important;
      display: flex;
      align-items: center;
  }

  .btnRight{
    background-color: white !important;
    font-size:60px !important;
    display: flex;
    align-items: center;
}